.c-links__item {
  display: inline-block !important;
  margin: 8px 8px 0 !important;
  list-style: none !important;
  list-style-type: none !important;
}

.c-links__icon {
  display: inline-block !important;
  font-size: 2rem;
}

.c-links__link {
  border:none;
}
